*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-visual{
	width: 100%;
	height: 800px;
	margin: 0 auto;
}

.visual1{
	width: 80%;
	height: 200px;
	background-image: url(img/box1.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.visual2{
	width: 80%;
	height: 200px;
	background-image: url(img/box2.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.visual3{
	width: 80%;
	height: 200px;
	background-image: url(img/box3.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.visual4{
	width: 80%;
	height: 200px;
	background-image: url(img/box4.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}